<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Elephant in the Lecture Hall</h2>
                </div>
            </div>
            <div class="row container">
                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>
                
                <p>
                    We are in a climate and ecological emergency. Universities must help prepare students for a fundamentally disrupted world, equipping them to lead and effect change.
                    A mandatory climate course across all higher education institutions is a good first step. This course, to be implemented urgently, should provide a comprehensive overview of the systemic causes, consequences, and solutions to the climate and ecological crisis.
                </p>

                <p>
                    We <a href="https://openletter.earth/addressing-the-elephant-in-the-lecture-hall-climate-education-now-12014c0c" target="_blank">call on all</a> Dutch Higher Education Institutions to lead in this endeavour.
                    Otherwise, the climate crisis will continue to be the elephant in the lecture hall.
                </p>

                <hr>

                <p>
                    Want to get involved? Then join (or start) <a href="#institutes">local groups</a> pushing for climate education at your institutions. A first step is to print <a href="#resources">the flyer below</a> and mobilize at your institution. Email <a href="mailto:scientistrebellion_nl@protonmail.com">scientistrebellion_nl@protonmail.com</a> to be put in touch with like-minded academics.
                </p>
            </div>
        </div>
    </section>