    <section id="press" class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Press</h2>
                    <p>Ad Valvas, 1<sup>st</sup> of June: <a href="https://www.advalvas.vu.nl/nieuws/een-klimaatvak-hoort-bij-elke-opleiding" _target="blank">'Een klimaatvak hoort bij elke opleiding'</a></p>
                    <p>NPO Radio 1, 11<sup>th</sup>of May: <a href="https://www.nporadio1.nl/nieuws/wetenschap-techniek/e7e66dd9-5cd8-4899-a4b7-496c5dafbb65/wetenschappers-eisen-verplicht-klimaatonderwijs-collegezaal-de-uitgelezen-plek-om-dat-gesprek-te-voerenhttps://www.nporadio1.nl/nieuws/wetenschap-techniek/e7e66dd9-5cd8-4899-a4b7-496c5dafbb65/wetenschappers-eisen-verplicht-klimaatonderwijs-collegezaal-de-uitgelezen-plek-om-dat-gesprek-te-voeren" _target="blank">Wetenschappers eisen verplicht klimaatonderwijs: ‘Collegezaal dé plek om dat gesprek te voeren’</a></p>
                    <p>Trouw, 8<sup>th</sup> of May: <a href="https://www.trouw.nl/opinie/waar-blijft-het-verplichte-klimaatonderwijs-voor-studenten~bd171db8/" _target="blank">Waar blijft het verplichte klimaatonderwijs voor studenten?</a></p>
                </div>
            </div>
        </div>
    </section>