    <section id="supporters" class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Supporters</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-4">
                    <img src="../css/2017_style/img/logos/SR_NL_Logo.png" class="img-responsive img-centered" style="max-width: 50%;" alt="">
                </div>
                <div class="col-md-6 col-sm-4">
                    <img src="../css/2017_style/img/logos/S4F-Logo.png" class="img-responsive img-centered" style="max-width: 50%;" alt="">
                </div>
            </div>
        </div>
    </section>