<!DOCTYPE html>
<html>

  {% include 2017_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading" style="color: black;">Climate Crisis<br></div>
                <div class="intro-lead-in" style="color: white;">The Elephant in the lecture hall</div>
                <!-- <div class="intro-lead-in">4 September 2023</div> -->
                <br>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/overview.html %}
    {% include 2017_data/institutes.html %}
    {% include 2017_data/press.html %}
    {% include 2017_data/resources.html %}
    {% include 2017_data/supporters.html %}
    {% include 2017_data/footer.html %}
    {% include 2017_data/js.html %}

    </body>
</html>